*.py[co]
*.sw[po]
*.bak
*.orig
*~.
*~

.DS_Store
local_settings.py

/static/*
/media/*
/src/
/libs/*
/venv/
/node_modules/
/doc/_build/

.project
.pydevproject
logs/
.codeintel/
*.egg-info
pubshop.sublime*
*.log
*.py.disabled
*.css.map
dist/
build/

/var
