{% load i18n core_tags compress %}
<!DOCTYPE html>
<html lang="{% lang %}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block head-title %}Vyrobeno u nás.cz{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="author" content="Tomáš Peterka" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="http://vyrobenounas.cz{{ STATIC_URL }}apple-touch-icon-precomposed.png" />
    <meta property="og:site_name" content="Vyrobeno u Nás" />
    <meta property="og:title" content="České obchody na jednom místě."/>
    <meta property="og:type" content="eshop"/>
    {% block head-meta %}
    {% endblock%}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap4/css/tether.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap4/css/bootstrap.min.css" />
    {% compress css %}
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/neutral.css" />
    {% endblock %}
    {% endcompress %}

    <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
    {% compress js %}
    {% block upper-javascript %}
    <script src="{{STATIC_URL}}js/multishop.js"></script>
    {% endblock %}
    {% endcompress %}

    {% block media %}{# place where to render {{ form.media }} #}{% endblock %}


    <link rel="apple-touch-icon-precomposed" sizes="114x114 144x144" href="{{ STATIC_URL }}apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" sizes="57x57 72x72" href="{{ STATIC_URL }}apple-touch-icon.png" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png" />
  </head>

  <body{%if classes %} class="{{ classes|join:" " }}"{%endif%}>
    {% block menu-block %}
    <div class="navbar navbar-fixed-top multishop-navbar-inner no-padding">
        {% block menu %}
        <a href="/" class="logo"><img src="{{STATIC_URL}}images/logo.png"></a>

        {% block menu-navmenu %}
          <ul class="backlinks">
            <li><a href="/">Domů</a></li>
            {% block backlinks %}{% endblock backlinks %}
          </ul>
        </div>
        {% endblock menu-navmenu %}

        {% endblock menu %}
    </div>
    {% endblock %}

    <div class="row">
        <div class="col-xs-12 offset-xs-0 offset-sm-1 col-sm-10 {%block main_class%}{% endblock%}">
            {% block messages %}
              {% if messages %}
              <div class="messages">
                  {% for message in messages %}
                  <div class="alert fade in{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    {{ message }}
                  </div>
                  {% endfor %}
              </div>
              {% endif %}
            {% endblock %}
            <div class="content-unit">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% block bottom-javascript %}
    <script src="{{STATIC_URL}}bootstrap4/js/tether.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bootstrap4/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
