{% extends "neutral.html" %}
{% load i18n fields socialaccount %}

{% block backlinks %}
    <li> <a href="{{ request.get_full_url }}">Přihlášení</a> </li>
{% endblock backlinks %}

{% block content %}
    {% block content_header %}
    <h1>Přihlášení</h1>
    {% endblock %}
    <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

        <h3><small>Přihlásit se přes email</small></h3>

        <form method="post" {% if login_url %}action="{{login_url}}"{%endif%} class="form-horizontal">
            {% if form.errors %}
            <div class="alert alert-error">
                Nemůžete si vzpomenou na heslo?
                <a href="{% url 'account_reset_password' %}">Zresetujte ho</a>
            </div>
            {% endif %}
            {% csrf_token %}
            {% hfield form.login show_label=False initial=email %}
            {% hfield form.password show_label=False %}
            <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <button type="submit" class="btn btn-success btn-submit">
                        Přihlásit&nbsp;&nbsp;
                    </button>
                </div>
                <div class="col-xs-12 col-md-6">
                    {{form.remember}}
                    <label for="id_remember" class="small-top-margin">
                         a zapamatovat
                    </label>
                </div>
            </div>
            {% if not email %}
            <em>nebo se můžete <a href="{% url 'account_signup' %}">registrovat</a></em>
            {% endif %}
        </form>

        <br/>

        <h3><small>Přihlásit se sociálně</small></h3>
        <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn">
            <img src="{{STATIC_URL}}images/facebook-button.png">
        </a>
        <a href="{% provider_login_url 'google' %}" class="btn">
            <img src="{{STATIC_URL}}images/google-button.png">
        </a>

    </div>
    </div>
{% endblock %}
